.end-game-container{
    border-radius: 50px;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: #c7b29a;
    opacity: 0.8;
    text-align: center;
}

.button{
    width: 60%;
    margin: auto;
    margin-bottom: 10rem;
}