<AbsoluteLayout>
    <StackLayout left="0" top="0" class="menu-bg" orientation="vertical">
        <StackLayout orientation="horizontal" horizontalAlignment="center" height="100%">
            <StackLayout class="home-menu-container" orientation="vertical" verticalAlignment="middle">
                <DockLayout #menuButtons height="100%" class="menu-buttons" stretchLastChild="false">
                    <StackLayout orientation="vertical" dock="top">
                        <Button text="Start New Game" class="button" (tap)="onNewGameTap()"></Button>
                        <Button text="Continue Game"
                            *ngIf="showContinue"
                            class="button"
                            (tap)="onContinueTap()"></Button>
                        <Button text="Options" class="button" (tap)="onOptionsTap()"></Button>
                    </StackLayout>
                </DockLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</AbsoluteLayout>