@import "nativescript-theme-core/css/sky.css";

Page{
    background-color: black;
}

.debug-ui{
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

.h1{
    margin-top: 50px;
    color: #62411d;
}

.button{
    background-image: url("~/images/maze-raider-button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: rgb(98, 65, 29);
    background-color: transparent;
    font-size: 20em;
    padding: 10px;
    font-family: "Aviano Sans Bold"
}

.button:highlighted{
    color: #c79a9a;
}
/*
rocas
base #c59b6d
sombra 1 #905d2c
sombra 2 #62411d
claro #dfb485

madera #a09da0

suelo base #c7b29a
suelo claro #d3bea5
*/