.menu-bg{
    background-image: url("~/images/menu-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.options-menu-container{
    width: 75%;
    height: 75%;
    margin: auto;
    text-align: center;
    background-image: url("~/images/menu-options-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button {
    width: 55%;
    margin: auto;
    margin-bottom: 6rem;
}