<AbsoluteLayout>
    <StackLayout left="0" top="0" class="menu-bg" orientation="vertical">
        <StackLayout orientation="horizontal" horizontalAlignment="center" height="100%">
            <StackLayout class="options-menu-container" orientation="vertical" verticalAlignment="middle">
                <DockLayout #options height="100%" stretchLastChild="false">
                    <StackLayout orientation="vertical" dock="top">
                        <StackLayout orientation="horizontal" horizontalAlignment="center">
                            <Label margin="3" text="Music:"></Label>
                            <Switch margin="3" [checked]="backgroundMusic"
                                (checkedChange)="onBackgroundMusicChange($event)"></Switch>
                        </StackLayout>
                        <StackLayout orientation="horizontal" horizontalAlignment="center">
                            <Label margin="3" text="Effects:"></Label>
                            <Switch margin="3" [checked]="effects"
                                (checkedChange)="onEffectsChange($event)"></Switch>
                        </StackLayout>
                        <Button text="Back" 
                            dock="bottom"
                            class="button" 
                            (tap)="onBack()"></Button>
                    </StackLayout>
                </DockLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</AbsoluteLayout>